* {
    box-sizing: border-box;
}

body {
    background-color: rgb(147, 150, 150);
}

#tablero {
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    background-color: rgb(200, 202, 202);
    height: 315px;
    width: 80%;
    border: 1px solid black;
}

.celda {
    width: 30%;
    height: 100px;
    margin: 2px;
    border: 1px solid rgb(167, 166, 166);
    background-color: white;
    font-size: xx-large;
    padding-top: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Media Query para tamaño fijo en pantallas a partir de 800px*/

@media only screen and (min-width: 800px) {
    #tablero {
        height: 630px;
        width: 630px;
    }
    .celda {
        height: 205px;
        width: 205px;
        padding-top: 60px;
    }
}